<!-- header.html -->
<!-- Header部分保持不变 -->
<header id="home">
  <!-- Start Navigation -->
  <nav class="navbar navbar-default attr-bg navbar-fixed white no-background bootsnav" style="z-index: 999999">
    <div class="container">
      <!-- Start Header Navigation -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#">
          杭州星诚智控科技有限公司
        </a>
      </div>
      <!-- End Header Navigation -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav navbar-right" data-in="#" data-out="#">
          <li>
            <a class="smooth-menu" href="#home">主页</a>
          </li>
          <li>
            <a href="view/product.html">产品中心</a>
          </li>
          <li>
            <a class="smooth-menu" href="#features">产品特色</a>
          </li>
          <li>
            <a class="smooth-menu" href="#overview">产品概览</a>
          </li>
          <li>
            <a class="smooth-menu" href="#about-us">关于我们</a>
          </li>
          <li>
            <a class="smooth-menu" href="#contact">联系我们</a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
  <!-- End Navigation -->
</header>
<!-- End Header -->