<!DOCTYPE html>
<html lang="en">

<head>
  <!-- ========== Meta Tags ========== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatib le" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="description" content="杭州星诚智控科技有限公司官方网站">

  <!-- ========== Page Title ========== -->
  <title>杭州星诚智控科技有限公司</title>

  <!-- ========== Favicon Icon ========== -->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  <!--font file-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@500&display=swap" rel="stylesheet">

  <!-- ========== Start Stylesheet ========== -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/static/css/font-awesome.min.css" rel="stylesheet" />
  <link href="/static/css/themify-icons.css" rel="stylesheet" />
  <link href="/static/css/elegant-icons.css" rel="stylesheet" />
  <link href="/static/css/flaticon-set.css" rel="stylesheet" />
  <link href="/static/css/magnific-popup.css" rel="stylesheet" />
  <link href="/static/css/owl.carousel.min.css" rel="stylesheet" />
  <link href="/static/css/owl.theme.default.min.css" rel="stylesheet" />
  <link href="/static/css/animate.css" rel="stylesheet" />
  <link href="/static/css/bootsnav.css" rel="stylesheet" />
  <link href="/static/css/style.css" rel="stylesheet">
  <link href="/static/css/responsive.css" rel="stylesheet" />
  <!-- ========== End Stylesheet ========== -->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="static/js/html5shiv.min.js"></script>
  <script src="static/js/respond.min.js"></script>
  <![endif]-->

</head>

<body>

  <!-- Preloader Start -->
  <div class="se-pre-con"></div>
  <!-- Preloader Ends -->

  <!-- Header
============================================= -->
  <div id="header-placeholder"></div>
  <!-- End Header -->

  <!-- Start Banner
============================================= -->
  <div id="overview" class="overview-area relative default-padding-top carousel-shadow"
    style="background-color: rgb(243, 243, 244)">

<div id="breadcrumb-placeholder"></div>
  <div id="about-us" class="about-us-area default-padding">
  <!-- <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="site-heading text-center">
          <h2>关于我们</h2>
          <div class="devider"></div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container">
    <div class="row align-center">
      <div class="col-lg-5 info">
        <img src="/static/picture/building.jpg" alt="企业图片">
      </div>
      <div class="col-lg-6 offset-lg-1 company-describe">
        <p>
          星诚智控是一家面向医院智慧管理系统的开发、生产、销售及售后为一体的互联网医疗科技高新企业。公司始终以“科技创新为先，服务业主为本”的目标，依托资深医疗设备顶尖人才和强大的技术研发能力，致力于医疗设备管理平台、影像设备管理、后勤综合管理等，自主研发出智慧医院综合运维管理平台，包括“医疗设备智慧物联管理平台”、“医疗设备全生命周期管理系统”及“可视化智慧后勤管理平台”，
          为医院设备管理、后勤运营管理提供全生命周期的整体化解决方案。
        </p>
        <p>
          智慧医院综合运维管理平台旨在利用物联网、云计算、大数据、BIM等新一代信息技术，对医院建筑、设备设施、业务流程等统一进行标准化管理，采用管理的可视化、数字化、集成化和智能化方式，使医院建筑及设备设施、环境更加安全、舒适、智慧和经济地服务于患者及医务人员，促进医院后勤服务的改革，提升医院后勤的精细化管理水平，满足“平安医院”、“智慧医院”和“绿色医院”的建设需求，助力智慧医院的相关等级评审。
        </p>
      </div>
    </div>
  </div>
</div>
<!--End About US-->
<div id="features" class="our-features-area text-center default-padding">
  <!-- Fixed BG -->
  <div class="fixed-bg" style="background-image: url(static/images/17.png);"></div>
  <!-- Fixed BG -->
  <!-- <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="site-heading text-center">
          <h2 class="area-title">产品特色</h2>
          <div class="devider"></div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container">
    <div class="feature-items">
      <div class="row">
        <!-- Single Item -->
        <div class="single-item col-lg-4 col-md-6">
          <div class="item">
            <div class="icon">
              <i class="flaticon-website"></i>
            </div>
            <div class="info">
              <h4>助力等级认证</h4>
              <p>
                符合国家政府法规，助力医院等级评定。
              </p>
            </div>
          </div>
        </div>
        <!-- End Single Item -->
        <!-- Single Item -->
        <div class="single-item col-lg-4 col-md-6">
          <div class="item">
            <div class="icon">
              <i class="flaticon-showcase"></i>
            </div>
            <div class="info">
              <h4>精细化管理</h4>
              <p>
                全流程精细化管理，实时实现数据统计分析。
              </p>
            </div>
          </div>
        </div>
        <!-- End Single Item -->
        <!-- Single Item -->
        <div class="single-item col-lg-4 col-md-6">
          <div class="item">
            <div class="icon">
              <i class="flaticon-integration"></i>
            </div>
            <div class="info">
              <h4>多端协同</h4>
              <p>
                PC、Mobile相互协同，提高工作效率。
              </p>
            </div>
          </div>
        </div>
        <!-- End Single Item -->
      </div>
    </div>
  </div>
</div>
<!-- End Our Features -->
  </div>




  <footer class="bg-dark text-light">
    <!-- Start Footer Bottom -->
    <div class="footer-bottom">
      <div class="container" style="text-align:center;">
        <a target="_blank" href="http://beian.miit.gov.cn/">浙ICP备2022037344号</a>

        <div style="width:300px;margin:0 auto;display: flex;justify-content: center;align-content: center">
          <div style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
            <img src="/static/images/备案图标.png" style="float:left;" />
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602012901"
              style="float:left;margin: 0 0 0 5px;">浙公网安备 33010602012901号</a>
          </div>
        </div>

        <a href="#">&copy;2022-2023 杭州星诚智控科技有限公司 版权所有</a>

      </div>
    </div>
    <!-- End Footer Bottom -->
  </footer>
  <!-- End Banner -->

  <!-- Star About Area
============================================= -->



  <!-- jQuery Frameworks
============================================= -->
  <script src="/static/js/jquery-1.12.4.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/jquery.appear.js"></script>
  <script src="/static/js/jquery.easing.min.js"></script>
  <script src="/static/js/jquery.magnific-popup.min.js"></script>
  <script src="/static/js/modernizr.custom.13711.js"></script>
  <script src="/static/js/owl.carousel.min.js"></script>
  <script src="/static/js/wow.min.js"></script>
  <script src="/static/js/progress-bar.min.js"></script>
  <script src="/static/js/isotope.pkgd.min.js"></script>
  <script src="/static/js/imagesloaded.pkgd.min.js"></script>
  <script src="/static/js/count-to.js"></script>
  <script src="/static/js/ytplayer.min.js"></script>
  <script src="/static/js/bootsnav.js"></script>
  <script src="/static/js/main.js"></script>
  <script src="/static/js/load-header.js"></script>
  <script src="/static/js/load-breadcrumb.js"></script>
</body>


<style>

</style>

</html>