<!DOCTYPE html>
<html lang="en">

<head>
  <!-- ========== Meta Tags ========== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatib le" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="description" content="杭州星诚智控科技有限公司官方网站">

  <!-- ========== Page Title ========== -->
  <title>杭州星诚智控科技有限公司</title>

  <!-- ========== Favicon Icon ========== -->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  <!--font file-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@500&display=swap" rel="stylesheet">

  <!-- ========== Start Stylesheet ========== -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/static/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="/static/css/themify-icons.css" rel="stylesheet"/>
  <link href="/static/css/elegant-icons.css" rel="stylesheet"/>
  <link href="/static/css/flaticon-set.css" rel="stylesheet"/>
  <link href="/static/css/magnific-popup.css" rel="stylesheet"/>
  <link href="/static/css/owl.carousel.min.css" rel="stylesheet"/>
  <link href="/static/css/owl.theme.default.min.css" rel="stylesheet"/>
  <link href="/static/css/animate.css" rel="stylesheet"/>
  <link href="/static/css/bootsnav.css" rel="stylesheet"/>
  <link href="/static/css/style.css" rel="stylesheet">
  <link href="/static/css/responsive.css" rel="stylesheet"/>
  <!-- ========== End Stylesheet ========== -->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="static/js/html5shiv.min.js"></script>
  <script src="static/js/respond.min.js"></script>
  <![endif]-->

</head>

<body>

<!-- Preloader Start -->
<div class="se-pre-con"></div>
<!-- Preloader Ends -->

<!-- Header
============================================= -->
<div id="header-placeholder"></div>
<!-- End Header -->

<!-- Start Banner
============================================= -->
<div class="banner-area text-capitalized bg-bottom text-light text-default"
     style="background-image: url(/static/images/11.png);">
  <div class="container">

      </div>
    </div>
  </div>
</div>
<!-- End Banner -->

<!-- Star About Area
============================================= -->



<!-- jQuery Frameworks
============================================= -->
<script src="/static/js/jquery-1.12.4.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.appear.js"></script>
<script src="/static/js/jquery.easing.min.js"></script>
<script src="/static/js/jquery.magnific-popup.min.js"></script>
<script src="/static/js/modernizr.custom.13711.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/wow.min.js"></script>
<script src="/static/js/progress-bar.min.js"></script>
<script src="/static/js/isotope.pkgd.min.js"></script>
<script src="/static/js/imagesloaded.pkgd.min.js"></script>
<script src="/static/js/count-to.js"></script>
<script src="/static/js/ytplayer.min.js"></script>
<script src="/static/js/bootsnav.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/load-header.js"></script>


</body>
</html>
