<!DOCTYPE html>
<html lang="en">

<head>
  <!-- ========== Meta Tags ========== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatib le" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="description" content="杭州星诚智控科技有限公司官方网站">

  <!-- ========== Page Title ========== -->
  <title>杭州星诚智控科技有限公司</title>

  <!-- ========== Favicon Icon ========== -->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  <!--font file-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@500&display=swap" rel="stylesheet">

  <!-- ========== Start Stylesheet ========== -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/static/css/font-awesome.min.css" rel="stylesheet" />
  <link href="/static/css/themify-icons.css" rel="stylesheet" />
  <link href="/static/css/elegant-icons.css" rel="stylesheet" />
  <link href="/static/css/flaticon-set.css" rel="stylesheet" />
  <link href="/static/css/magnific-popup.css" rel="stylesheet" />
  <link href="/static/css/owl.carousel.min.css" rel="stylesheet" />
  <link href="/static/css/owl.theme.default.min.css" rel="stylesheet" />
  <link href="/static/css/animate.css" rel="stylesheet" />
  <link href="/static/css/bootsnav.css" rel="stylesheet" />
  <link href="/static/css/style.css" rel="stylesheet">
  <link href="/static/css/responsive.css" rel="stylesheet" />
  <!-- ========== End Stylesheet ========== -->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="static/js/html5shiv.min.js"></script>
  <script src="static/js/respond.min.js"></script>
  <![endif]-->

</head>

<body>

  <!-- Preloader Start -->
  <div class="se-pre-con"></div>
  <!-- Preloader Ends -->

  <!-- Header
============================================= -->
  <div id="header-placeholder"></div>
  <!-- End Header -->

  <!-- Start Banner
============================================= -->
<div id="overview" class="overview-area relative default-padding-top carousel-shadow" style="background-color: rgb(243, 243, 244)">

  <div id="breadcrumb-placeholder"></div>



      <div class="container" style="background-color: #fff;padding-top: 20px;">
       
          <div class="detial-title">
            <div class="title"><span>超声质控系统</span>
              <div class="timeBox">
                <p>更新时间：2025-6-5</p>
              </div>
            </div>
          </div>
          <div class="detial-context">
            <p><strong>产品简介</strong></p>
            <p>
              医疗设备智慧物联管理平台，通过5G和物联网技术，结合设备运行大数据分析，基于医疗设备智慧化管理平台，实现医疗设备的实时运行监测、预警分析、质控管理、效益分析等智慧管理功能，让数据发挥效能，助力提高医院智慧服务、智慧管理水平。
            </p>
            <p><strong>系统架构</strong></p>
            <p>大型医疗设备的物联。通过对设备运行数据的分析，可以与医院HIS、LIS、PACS
              等系统进行数据对接，提取统计所有与设备有关的准确数据，精准分析设备工作效率、效益，实现设备全过程跟踪管理，达到实时监控、实时分析的效果。
              生命支持类设备的物联。通过物联技术，实现数据的自动采集分析，并与医院HIS、LIS、PACS 等系统进行数据对接，统计分析设备的实际运行数据，实现设备的精准管理。</p>
            <img src="/static/images/jiagou.jpg" alt="系统架构图" style="width: 80%">
            <p><strong>产品功能</strong></p>
            <p>设备运维：</p>
            <p>效率分析：</p>
            <p>效益分析：</p>
            <p>区域平台：</p>
          </div>

                 <div class="container-full">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="overview-carousel owl-carousel owl-theme">
            <!-- Single item -->
            <div class="item">
              <img src="/static/picture/software2-1.png" alt="Thumb">
              <div class="content">
                <h4><span>01</span>CT设备列表</h4>
              </div>
            </div>
            <!-- End Single item -->
            <!-- Single item -->
            <div class="item">
              <img src="/static/picture/software2-2.png" alt="Thumb">
              <div class="content">
                <h4><span>02</span>设备效益分析</h4>
              </div>
            </div>
            <!-- End Single item -->
            <!-- Single item -->
            <div class="item">
              <img src="/static/picture/software2-3.png" alt="Thumb">
              <div class="content">
                <h4><span>03</span>设备实时参数</h4>
              </div>
            </div>
            <!-- End Single item -->
          </div>
        </div>
      </div>
    </div>
  </div>

  
           </div>
          </div>
    
    

  <footer class="bg-dark text-light">
  <!-- Start Footer Bottom -->
  <div class="footer-bottom">
    <div class="container" style="text-align:center;">
      <a target="_blank" href="http://beian.miit.gov.cn/">浙ICP备2022037344号</a>

      <div style="width:300px;margin:0 auto;display: flex;justify-content: center;align-content: center">
        <div style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
          <img src="/static/images/备案图标.png" style="float:left;"/>
          <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602012901"
             style="float:left;margin: 0 0 0 5px;">浙公网安备 33010602012901号</a>
        </div>
      </div>

      <a href="#">&copy;2022-2023 杭州星诚智控科技有限公司 版权所有</a>

    </div>
  </div>
  <!-- End Footer Bottom -->
</footer>
  <!-- End Banner -->

  <!-- Star About Area
============================================= -->



  <!-- jQuery Frameworks
============================================= -->
  <script src="/static/js/jquery-1.12.4.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/jquery.appear.js"></script>
  <script src="/static/js/jquery.easing.min.js"></script>
  <script src="/static/js/jquery.magnific-popup.min.js"></script>
  <script src="/static/js/modernizr.custom.13711.js"></script>
  <script src="/static/js/owl.carousel.min.js"></script>
  <script src="/static/js/wow.min.js"></script>
  <script src="/static/js/progress-bar.min.js"></script>
  <script src="/static/js/isotope.pkgd.min.js"></script>
  <script src="/static/js/imagesloaded.pkgd.min.js"></script>
  <script src="/static/js/count-to.js"></script>
  <script src="/static/js/ytplayer.min.js"></script>
  <script src="/static/js/bootsnav.js"></script>
  <script src="/static/js/main.js"></script>
  <script src="/static/js/load-header.js"></script>
    <script src="/static/js/load-breadcrumb.js"></script>
</body>


<style>
  .detial-title {
    width: 100%;
    height: 70px;
    text-align: center;
  }

  .title span {
    color: #000;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
  }

  .timeBox p {
    font-size: 12px;
    color: rgb(136, 136, 136);
  }

  .detial-context {
    width: 100%;
    overflow: hidden;
    line-height: 30px;
    text-align: left;
  }

  .detial-context p {
    margin: 10px 10px;
    color: #2c3e50;
  }

  .detial-context p strong {
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
  }

  .detial-context p {
    font-size: 14px;
    line-height: 1.8;
    margin: 10px 20px;
    color: #2c3e50;
  }

  .detial-context img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
  }
</style>

</html>